root:{
  --bgColor: "#ffffff";
  --color: "#000000"
}

*{
  background-color:var(--bgColor);
  color:var(--color);
  border-color: var(--color);
}

.tab{
  width: 125px;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
}

.settings{
  width: 100px;
  height: 25px;
}