root:{
  --bgColor: "#ffffff";
  --color: "#000000";
  --gemTxtColor: "#0000ff";
  --refTxtColor: "#ff00ff";
}

*{
  background-color:var(--bgColor);
  color:var(--color);
  border-color: var(--color);
}

.tab{
  width: 125px;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
}

.settings{
  width: 100px;
  height: 25px;
}

#refactorTabButton{
  border-color: magenta;
}

#challengeTabButton{
  border-color: red;
}

#researchTabButton{
  border-color: blue;
}